.name-list {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 50px;

}

.box {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 450px;
  height: 250px;
  margin-left: 15px;
}
.box:last-child {
  margin-right: 0; /* Remove margin from the last box */
}

.header {
  color: black;
  padding-top: 6%;
  padding-left: 25%; /* Adjust the left padding as needed */
  padding-right: 0; /* Adjust the right padding as needed */
  text-align: left;
  width: 115%; /* Set the width to 120% */
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.box img {
  max-width: 60%; /* Make the image responsive */
  max-height: 100%; /* Make the image responsive */
  border-radius: 10px; /* Add border-radius to the images */
}