.form-container {
    width: 500px;
    height: 490px;
  }
  
  .input-field {
    height: 50px;
    width: 390px;
  }
  
  .submit-button {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .custom-image1 {
    position: absolute;
    top: 9%;
    left: 37%;
    height: auto;
    width: auto;
    transform: translateX(133%);
    margin-top: 10px; /* Adjust margin top as needed */
  }
  .bg-custom {
    background-image: url('/bg.png');
    /* Use absolute path */
    background-size: cover;
    background-position: center;
  }
  /* Define a class for the form container and set the font family to Inter */
/* Define a class for elements with Inter font family */
.inter-font {
  font-family: 'Inter', sans-serif;
}