body {
  margin: 0;
  padding: 0;
  background-image: url('/Landingbk.png');
  height: 100vh; /* Setting height to viewport height */
  background-repeat: no-repeat;
  background-size: cover; /* Covering the entire viewport */
  font-family: 'More Sugar', sans-serif;
  overflow-x: hidden;
}


footer {
  margin: 0;
  padding: 0;
  background-image: url('/footer.png');
  background-size: cover;
  background-repeat: no-repeat; 
  align-items: center;
  padding-bottom: 350px;
}


.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px; 
}

.centered-image {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .topnav {
  overflow: hidden;
  position: fixed;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.user-search-container {
  display: flex;
  align-items: center;
  margin-left: 16px; /* Adjust the margin to align with other buttons */
}

.search-bar {
  display: flex;
  align-items: center;
}

#search-input {
  background-color: #CFF9FF;
  border: none;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 350px;
  height: 45px;
}

#search-button {
  width: 65px;
  padding-top: 8px;
  height: 65px;
  cursor: pointer;
  position: relative;
  left: -21%; /* To center initially */
  transform: translateX(50%);
}


#trophy-image:hover {
  content: url('/trophy-hover.png');
}

#menubt-image:hover {
  content: url('/menuhv.png');
}

#homebt-image:hover {
  content: url('/homehv.png');
}

#soundbt-image:hover {
  content: url('/soundhv.png');
}

#settingbt-image:hover {
  content: url('/settinghv.png');
}



.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  /* margin-bottom:70px; */ 
}

.sidenav {
  position: fixed;
  right: 0;
  top: 37%;
  transform: translateY(-50%);
  width: 100px; /* Adjust the width as needed */
  background: rgba(255, 255, 255, 0.5); /* 50% transparent white background */
  overflow-x: hidden;
  padding-top: 10px;
  margin-right: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #333; /* Text color */
  display: block;
  margin: 10px 0;
}

#menubt-image,
#homebt-image,
#soundbt-image,
#settingbt-image {
  width: 75px; /* Adjust image size as needed */
  height: 75px; /* Adjust image size as needed */
}

.sidenav a:hover {
  color: #007bff; /* Change color on hover */
}

        .about {
  color: #7FD8A5; /* Green color for "ABOUT" */
}

.us {
  color: white; /* White color for "US" */
}

.useful {
  color: #FF3E3E; /* Red color for "USEFUL" */
}

.links {
  color: white; /* White color for "LINKS" */
}

/* Profile.css */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Optional background color for the entire page */
}

.profile-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 25px;
  justify-content: space-between;
  background-color: white; /* Set the background color to white */
  padding: 20px; /* Add padding for spacing */
  max-width: 1000px; /* Optional: Limit the maximum width of the container */
}


.left-container {
 
  width: 30%;
  padding: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


.Baguhin-button {
  border-radius: 30px;
  width: 100px;
  height: 40px;
  background-color: #12BBD8;
  display: flex; /* Make the container a flex container */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  text-decoration: none; /* Remove default link styling */
  color: white; /* Set the text color to white */
}


.right-container {
  width: 100%;
  background-color: #B5F4FF;
  border-radius: 25px;
  padding: 50px;
}

.Trophy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-item {
  font-size: 30px;
  line-height: 0.70;
}

.Student-rank {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Vertically align items in the center */
  justify-content: space-between; /* Space between items horizontally */
  position: relative;
  padding-right: 65px;
}

.Rank-num {
  position: absolute; /* Position it absolutely within the relative parent */
  bottom: 0; /* Align to the top */
  left: 50px;
  z-index: 1;
  background-color: #FFD700;
  border-radius: 50px;
  width: 45px;
  height: 40px;
  color: white;
  display: flex; /* Use flexbox to align items inside student-info */
  align-items: center; /* Vertically align items in the center */
  justify-content: center;
}

.student-info {
  font-size: 24px;
  background-color: #FFD700;
  border-radius: 50px;
  width: 330px;
  height: 50px;
  color: white;
  display: flex; /* Use flexbox to align items inside student-info */
  align-items: center; /* Vertically align items in the center */
  justify-content: center; /* Horizontally align items in the center */
}

.Student-name {
 
  margin-right: 100px; /* Add right margin to create space */
}


.Rank-container{
  margin: 0 auto;
  display: flex;
  border-radius: 25px;
  justify-content: space-between;
  padding: 20px;
  max-width: 1000px;
  background: transparent;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  background-size: 100% 10px, 100% 10px;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

#profile-photo {
  position: relative;
  left: 70px;
}

#rank-small {
  width: 40px;
  height: 35px;
  position: absolute; /* Position it absolutely within the relative parent */
  bottom: 0; /* Align to the bottom */
  left: 125px; /* Align to the right */
}

#trophy-small{
  
  position: absolute;
  left: 380px;
}

.Rank-left {

  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items vertically */
}

.Rank-right{
  background-color: #B12FC2;
  flex-direction: column; /* Stack elements vertically */
  padding-top: 30px;
  border-radius: 50px;
  margin-right: 20px;
}
#rank-big{
  position: relative;
  left: 50px;
  width: 400px;
}

.logout-button{
  border-radius: 30px;
  width: 150px;
  height: 60px;
  margin-top: 20px;
  margin-left: 790px;
  margin-bottom: 30px;
  background-color: #1251d8;
  display: flex; /* Make the container a flex container */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  text-decoration: none; /* Remove default link styling */
  color: white; /* Set the text color to white */
}


#menubt-image,
#homebt-image,
#soundbt-image,
#settingbt-image {
  width: 75px; /* Adjust image size as needed */
  height: 75px; /* Adjust image size as needed */
}

#prev-image:hover {
  content: url('/prevhv.png');
}


#next-image:hover {
  content: url('/nexthv.png');
}

#aralin-image:hover {
  content: url('/aralinhv.png');
}

#pagsusulit-image:hover{
  content: url('/pagsusulithv.png');
}


.aralin, .pagsusulit {
  width: 350px;
  height: 500px;
  margin: 20px;
  /* Add any additional styling for the container */
}

.home-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add any additional styling for the container */
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gamebt{
  height: 70px;
  width: 200px;
  position: fixed;
  top: 14%;
  margin-left: 195px;
  transform: translate(-50%, -50%);
}

#level-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

#whitebar{
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panuto {
  background-image: url('/gamebg.png');
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackboard {
  background-image: url('/blackboard.png');
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-left: 15%;
}

.blackboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.blackboard ul li {
  cursor: pointer;
  position: relative;
  left: -3%;
  top: 50%;
  transform: translate( -50%, -50%);
  font-size: 20px;
  /* Any additional styling for list items */
}




.blackboard h2 {
  position: absolute;
  top: 60%;
  left: 41%;
  transform: translate(-50%, -50%);
  color: #f0f0f0;
  font-size: 38px;
  font-family: 'Chalktastic', sans-serif;
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 255px;
  height: 239px;
  border-radius: 30px;
  flex-shrink: 0;
  border: 1px solid #ccc;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}


li:nth-child(1) {
  background-color: #FF40CB; /* Color for the first list item */
}


li:nth-child(2) {
  background-color: #BDBD00; /* Color for the second list item */
}

li:nth-child(3) {
  background-color: #35F27F; /* Color for the third list item */
}

li:nth-child(4) {
  background-color: #0CB0FA; /* Color for the third list item */
}
/* Add more nth-child selectors for additional list items */


#mabuhay-image {
  height: 630px;
  width: 1150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#balik-image {
  height: 320px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 200px; /* Adjusted position for the "balik" image on the left */
  transform: translate(-50%, -50%);
}

#balik-image:hover {
  content: url('/balikhv.png');
}

#sunod-image {
  height: 320px;
  width: 100px;
  position: absolute;
  top: 50%;
  right: 105px; /* Adjusted position for the "sunod" image on the right */
  transform: translate(-50%, -50%);
}

#sunod-image:hover {
  content: url('/sunodhv.png');
}

.intro {
  background-image: url('/introbg.png');
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%; /* Adjusted to fit the viewport */
  background-position: center;
  background-size: cover; /* Removed quotes */
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

#susunod-image {
  height: 100px;
  width: 438px;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#susunod-image:hover {
  content: url('/susunodhv.png');
}