.page-container {
  background-image: url('/bgnew5.png'); /* Replace with the actual path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;


}

.page-container2 {
  background-image: url('/bgnew5.png'); /* Replace with the actual path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  font-family: 'Inter', sans-serif;
}

.h-20 {
  height: 2rem;
}

.page-container3 {
background-image: url('/menubg.png'); /* Replace with the actual path to your image */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height: 100vh;
justify-content: center;


}
.topics-one{
  display: flex;
   align-items: center;
  justify-content: center;
}
.selected {
border: 8px solid #49ff00; /* Change border color as needed */
transition: border-color 0.1s ease; /* Adjust transition duration */
}
.choice-item:hover {
border: 4px solid #FF8484; /* Change border color as needed */

}
.choice {
  transition: opacity 0.3s ease-in-out; /* Adjust the duration here */
}
.fade-out {
opacity: 0;
 
}
/* Define the animation */

/* Define the animation */
@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to the image */
.breath-animation {
  animation: breath 4s infinite; /* Adjust duration and iteration as needed */
}

@keyframes bounce {
  0% {
    transform: translateY(2);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.choice-box {
  transition: transform 0.2s ease-in-out;
}

.choice-box:hover {
  transform: scale(1.05);
}
.button button:hover {
  background-color: #39B8FF;
}