.page-container {
  background-image: url('/userbg4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container2 {
  background-image: url('/userbg4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section1,
.section2 {
  background-color: white;
  width: auto;
  height: auto;
  padding: 20px;
  margin: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.section-image {
  height: 500px;
  width: 400px;
  float: center;
}

.image-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.section-header {
  text-align: center;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .section1,
  .section2 {
    margin-left: 0;
    margin-top: 10px;
    width: auto;
  }
  .section1,
  .section2 {
    background-color: white;
    width: 45%; /* Adjust the width as needed */
    max-width: 400px; /* Limit the maximum width if necessary */
    height: auto;
    padding: 20px;
    margin: 10px;
  }
  .image-button {
    position: relative;
    left: auto;
    transform: none;
    margin-top: 10px;
  }

  .prev,
  .next {
    display: flex;
    justify-content: center;
  }

  .prev img,
  .next img {
    max-width: 100%;
    height: auto;
  }
}

/* Header Image Styles */
.headerimg {
  background-color: #13DFFE;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden; /* Ensure the image stays within the rounded corners */
}

.headerimg img {
  width: 100%;
  height: auto;
  display: block;
}